body {
    font-family: Arial, Helvetica, sans-serif;
    margin: auto;
    padding: 20px;
    background-color: white;
}

h1{
    color : black;
}
form label {
    font-weight: bold;
}
form input, form select, form textarea {
    width : 100%;
    padding: 8px;
    margin-top: 4px;
    box-sizing: border-box;
}
form textarea {
    height: 100px;
    resize: vertical;
}
button {
background: blue;
color: white;
padding: 10px 20px;
border: none;
cursor: pointer;
}
.container {
    display:flex;
    flex-direction: row;
    gap: 10px;
    margin-top: 10px;

}
.offre {
    border: black 1px Solid;
    border-radius: 20px;
    padding: 20px;
    margin-bottom: 15px;
    background: white;
}

.offre-container {
    display : flex;
    flex-direction: column;
    gap: 10px;
}